<div class="container-md" [formGroup]="createOfferForm">
<div class="forma-kontejner">
  <label for="title" class="form-label mt-2">Title</label>
  <input type="text" class="form-control" id="title" formControlName="title" />
  <div *ngIf="title?.invalid && (title?.dirty || title?.touched)" class="alert alert-danger">

    <div *ngIf="title?.errors?.['required']">
      Title is required.
    </div>
    <div *ngIf="title?.errors?.['pattern']">
      Title must not be blank or only whitespaces.
    </div>
    </div>
  <label for="description" class="form-label mt-2">Description</label>
  <textarea class="form-control" id="description" rows="10" formControlName="description"></textarea>
  <div *ngIf="description?.invalid && (description?.dirty || description?.touched)" class="alert alert-danger">

    <div *ngIf="description?.errors?.['required']">
      Description is required.
    </div>
    <div *ngIf="description?.errors?.['pattern']">
      Description must not be blank or only whitespaces.
    </div>
  </div>
  <label for="price" class="form-label mt-2">Price</label>
  <input type="number" class="form-control" id="price" formControlName="price" />
  <div *ngIf="price?.invalid && (price?.dirty || price?.touched)" class="alert alert-danger">

    <div *ngIf="price?.errors?.['required']">
      Price is required.
    </div>

    <div *ngIf="price?.errors?.['notPositive']">
      Price must be positive.
    </div>
  </div>
  <label for="quantity" class="form-label mt-2">Qyantity</label>
  <input type="number" class="form-control" id="quantity" formControlName="quantity" />
  <div *ngIf="quantity?.invalid && (quantity?.dirty || quantity?.touched)" class="alert alert-danger">

    <div *ngIf="quantity?.errors?.['required']">
      Quantity is required.
    </div>
    <div *ngIf="quantity?.errors?.['min']">
      Quantity must be greater than 1.
    </div>
  </div>
  <div class="form-check my-3">
    <input class="form-check-input" type="checkbox" id="newCheckbox" formControlName="isNew" />
    <label class="form-check-label" for="newCheckbox"> New </label>
  </div>
  <label for="location" class="form-label">Location</label>
  <input type="text" class="form-control" id="location" formControlName="location">
  <div *ngIf="location?.invalid && (location?.dirty || location?.touched)" class="alert alert-danger">

    <div *ngIf="location?.errors?.['required']">
      Loaction is required.
    </div>
    <div *ngIf="location?.errors?.['pattern']">
      Location must not be blank.
    </div>
  </div>
  <div class="my-3">

    <mat-form-field>
      <mat-label>Category</mat-label>
      <!-- [(ngModel)]="selectedCategory" [ngModelOptions]="{ standalone: true } -->
      <mat-select formControlName="categoryIds" [compareWith]="compareCategoryIds"
      (selectionChange)="onCategoryIdSelected($event.value)">
      <ng-container *ngFor="let category of categories">
        <mat-option [value]="[category.categoryId]">
          {{ category.name }}
        </mat-option>
      </ng-container>
    </mat-select>
  </mat-form-field>
  <div *ngIf="categoryIds?.invalid && (categoryIds?.dirty || categoryIds?.touched)" class="alert alert-danger">

    <div *ngIf="categoryIds?.errors?.['required']">
      Category is required.
    </div>
    </div>
</div>
  <div formArrayName="attributeRequests">
    <ng-container *ngFor="let attribute of attributesFormArray.controls; let i = index">
      <div class="col-auto" formGroupName="{{ i }}">
        <label class="form-label" for="attributeValue">{{
          attribute.get("name")?.value
          }}</label>
        <input type="text" class="form-control" id="attributeValue" formControlName="value" />
        <div *ngIf="attribute.get('value')?.invalid && (attribute.get('value')?.dirty || attribute.get('value')?.touched)" class="alert alert-danger">

          <div *ngIf="attribute.get('value')?.errors?.['required']">
            Rrequired.
          </div>
          <div *ngIf="attribute.get('value')?.errors?.['pattern']">
            Must not be blank or whitespace.
          </div>
        </div>
      </div>
    </ng-container>
  </div>
  <div class="my-2">
  <label for="images" class="form-label">Images</label>
    <input type="file" multiple class="form-control" id="images" (change)="onFilesSelected($event)" formControlName="selectedFiles">
    <div *ngIf="selectedFilesControl?.invalid && (selectedFilesControl?.dirty || selectedFilesControl?.touched)" class="alert alert-danger">

      <div *ngIf="selectedFilesControl?.errors?.['required']">
        At least one image is required.
      </div>
      </div>
  </div>
  <div class="my-3">
    <button class="btn btn-primary" (click)="createOffer()" [disabled]="createOfferForm.invalid">Create</button>
  </div>
</div>
</div>
