<div class="container-md" [formGroup]="registerForm">
  <label for="firstName" class="form-label">First name</label>
  <input type="text" class="form-control" id="firstName" formControlName="firstName" />
  <label for="lastName" class="form-label">Last name</label>
  <input type="text" class="form-control" id="lastName" formControlName="lastName" />
  <label for="email" class="form-label">Email</label>
  <input type="text" class="form-control" id="email" formControlName="email" />
  <label for="userName" class="form-label">User name</label>
  <input type="text" class="form-control" id="userName" formControlName="userName" />
  <label for="passowrd" class="form-label">Password</label>
  <input type="password" class="form-control" id="password" formControlName="password" />
  <mat-form-field>
    <mat-label>City</mat-label>
    <mat-select [(ngModel)]="selectedCity" [ngModelOptions]="{ standalone: true }"
      (selectionChange)="onCitySelected($event.value)">
      <ng-container *ngFor="let city of cities">
        <mat-option [value]="city">
          {{ city.name }}
        </mat-option>
      </ng-container>
    </mat-select>
  </mat-form-field>
  <label for="avatar" class="form-label">Avatar</label>
  <input type="file" class="form-control" id="avatar" (change)="onAvatarSelected($event)">
  <button class="btn btn-primary mt-3" (click)="register()">Register</button>
</div>
