<div class="container-md" [formGroup]="registerForm">
  <label for="firstName" class="form-label">First name</label>
  <input type="text" class="form-control" id="firstName" formControlName="firstName" />
  <label for="lastName" class="form-label">Last name</label>
  <input type="text" class="form-control" id="lastName" formControlName="lastName" />
  <label for="email" class="form-label">Email</label>
  <input type="text" class="form-control" id="email" formControlName="email" />
  <label for="userName" class="form-label">User name</label>
  <input type="text" class="form-control" id="userName" formControlName="userName" />
  <label for="passowrd" class="form-label">Password</label>
  <input type="password" class="form-control" id="password" formControlName="password" />
  <button class="btn btn-primary mt-3">Register</button>
</div>
