<nav class="navbar sticky-top navbar-expand-md bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Web Shop</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li *ngIf="isUserLoggedIn() == false" class="nav-item">
          <button class="nav-link" (click)="openLoginDialog()">Log in</button><!-- TODO sakriti-->
        </li>
        <li *ngIf="isUserLoggedIn()" class="nav-item">
          <button class="nav-link" (click)="logout()">Log out</button><!-- TODO sakriti-->
        </li>
        <li  *ngIf="isUserLoggedIn()" class="nav-item">
          <a class="nav-link" routerLink="/create_offer">Create offer</a><!-- TODO sakriti-->
        </li>
        <li *ngIf="isUserLoggedIn()==false"  class="nav-item">
          <a class="nav-link" routerLink="/register">Register</a><!-- TODO sakriti-->
        </li>
        <li *ngIf="isUserLoggedIn()" class="nav-item">
          <a class="nav-link" routerLink="/my_offers">My offers</a><!-- TODO sakriti-->
        </li>
        <li *ngIf="isUserLoggedIn()" class="nav-item">
          <a class="nav-link" routerLink="/my_purchases">My purchases</a><!-- TODO sakriti-->
        </li>
        <li *ngIf="isUserLoggedIn()" class="nav-item">
          <a class="nav-link" routerLink="/profile">Account</a>
        </li>
        <li *ngIf="isUserLoggedIn()" class="nav-item">
          <a class="nav-link" routerLink="/support">Contact support</a>
        </li>
      </ul>
      <!-- <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form> -->
    </div>
  </div>
</nav>
